.side-picker {
  width: 40px !important;
  height: 40px !important;
  background: url(static/textures/ui/knight_white.png) no-repeat right !important;
  background-size: auto 100% !important;
  background-color: transparent !important;
  filter: brightness(5);
}

.side-picker.black {
  background: url(static/textures/ui/knight_black.png) no-repeat right !important;
  background-size: auto 100% !important;
  background-color: transparent !important;
}


.settings .horizontal {
  max-width: 80vw;
  min-width: 300px;
  width: 400px;
  margin: 20px 0;
}

.settings {

  .input, .button, .text {
    margin: 0;
  }

  .confirm {
    width: 160px;
    padding: 0 6px;
    height: 30px;
    background-color:rgba(255, 255, 255, 0.45);
    border-radius: 5px;
    margin: 6px;
    letter-spacing: 2px;
    font-size: 9px;
    text-transform: uppercase;
  }

  .text:not(.title) {
    color: #939292;
  }

  .input {
    color:rgba(255, 255, 255, 0.85);
    
    &::placeholder {
      color:rgba(255, 255, 255, 0.5);
    }
  }


}

@media screen and (max-height: 600px) {
  .settings .horizontal {
    margin: 5px 0;
  }

  .settings {

    .input, .button, .text {
      margin: 5px;
    }
  }
  
}
